body{
    background-color: #011F3F;
    color: rgb(254, 242, 191);
    text-align: center;
    font-size: 2rem;
}


input {
    box-sizing: border-box;
    width: 225px; 
    padding: 10px; 
    border: 5px solid rgb(254, 242, 191); 
    border-radius: 10px;
    box-shadow:  none;
    /* border-color: rgb(254, 242, 191);  */
    outline: none;
    font-size: 1rem;
    margin: 10px 0px 0px 10px; 
}

button{
    width: 100px; 
    height: 45px; 
    border-radius: 10px;
    color: #011F3F;
    font-size: 1rem;
    box-shadow:  none;
    border-color: rgb(254, 242, 191); 
     margin: 10px 0px 0px 0px; 
}
button:hover {
    background-color: rgb(254, 242, 191);
    color: #011F3F;
    cursor: pointer;
}
